<a href="https://colab.research.google.com/github/mjkh09077/ai/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#인덱싱 (슬라이싱)

s='world'
print(s[2]) #파이썬은 인덱스 시작이 0이다.
print(s[-1]) #-1은 마지막 인덱스를 가리킨다.
print(s[4]) #하나만 추출할때는 indexing

addr = '서울시 강남구 역삼동 1번지'
print(addr[4:7]) #4이상 7미만 / 여러개를 추출할때는 slicing

r
d
d
강남구

In [2]:
list = [1,2,3]
print(list)

[1, 2, 3]

In [2]:
set={1,1,2,2,3,3,4}
print(set)

print(set[0])

{1, 2, 3, 4}

TypeError: ignored

In [7]:
#집합 계산
set1 = {1,2,3}
set2 = {2,3,4}

#교집합
print(set1&set2)  
print(set1.intersection(set2))

#합집합
print(set1.union(set2))

#차집합
print(set1-set2)

{2, 3}
{2, 3}
{1, 2, 3, 4}
{1}

In [11]:
set1 = {1,2,3}
set1.add(4)
print(set1)

set1.update([5,6,7,8])
print(set1)

set1.remove(4)
print(set1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 5, 6, 7, 8}

In [21]:
n = input('학번을 입력하세요')

print(f'{n[0]}학년 {n[1:3]}반 {n[3:5]}번')

학번을 입력하세요31025
3학년 10반 25번

In [26]:
n = input('차량 번호를 입력하세요')

print(f'{n}의 차량번호 끝 4자리는 {n[4:8]}')

차량 번호를 입력하세요서울2가1234
서울2가1234의 차량번호 끝 4자리는 1234

In [31]:
name = input('문자열을 홀수로 입력하시오')
print(len(name)//2) #몫만 추출
print(int(len(name)/2)) #몫만 추출
print(len(name)%2) #나머지만 추출
print(f'문자열의 가운데 글자는 입니다.')

문자열을 홀수로 입력하시오123
문자열의 가운데 글자는 울입니다.

In [35]:
s = [1,2,3,4,5,6,7,8,9]

print(s[2:7][1])

4

In [40]:
s = int(input('당신의 점수를 입력하세요'))
if s<100:
  print('당신의 점수는 {s}점이고 학점은 A학점입니다.')

elif s<90:
  print('당신의 점수는 {s}점이고 학점은 B학점입니다.')

elif s<80:
  print('당신의 점수는 {s}점이고 학점은 C학점입니다.')

elif s<70:
  print('당신의 점수는 {s}점이고 학점은 D학점입니다.')

else s<60:
  print('당신의 점수는 {s}점이고 학점은 F학점입니다.')

SyntaxError: ignored

In [ ]:
n = int(input('정수를 입력하세요'))