<a href="https://colab.research.google.com/github/mjkh09077/ai/blob/main/HW02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#051
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

#052
movie_rank.append('배트맨')
print(movie_rank)

#053
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

#054
del movie_rank[3]
print(movie_rank)

#055
del movie_rank[2:4]
print(movie_rank)

#056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1+lang2)

#057
nums = [1, 2, 3, 4, 5, 6, 7]
print(min(nums))
print(max(nums))

#058
nums = [1, 2, 3, 4, 5]
print(sum(nums))

#059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
len(cook)

#060
nums = [1, 2, 3, 4, 5]

print(sum(nums)/len(nums))

['닥터 스트레인지', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
['닥터 스트레인지', '슈퍼맨']
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
1
7
15
3.0

In [57]:
#121
n = str(input(''))

if n.isupper():
  print(n.lower())

else:
  print(n.upper())

a
A

In [28]:
#122
score = int(input("당신의 점수를 입력하세요 >> "))
gr = ""
if score >=81:
  gr = "A"
elif score >=61:
  gr = "B"
elif score >=41:
  gr = "C"
elif score >=21:
  gr = "D"
else:
  gr = "E"

print(f"grade is {gr}")

당신의 점수를 입력하세요 >> 83
grade is A

In [59]:
#123
m = {"달러": 1167,"엔": 1.096,"유로": 1268,"위안": 171}
s = input("입력: ")
c = s.split()
print(float(c) * m, "원")

입력: 100달러

TypeError: ignored

In [34]:
#124
a = input('number1')
b = input('number2')
c = input('number3')
s= {a,b,c}

print(max(s))

number11
number29
number35
9

In [62]:
#125
number = input('휴대전화 번호 입력')
n = number.split("-")[0]

if n == '011':
  c = "SKT"
elif n == '016':
  c = "KT"
elif n == '019':
  c = "LGU"
else:
  c = "알수없음"

print(f"당신은 {c} 사용자입니다.")

휴대전화 번호 입력010-1234-5678
당신은 알수없음 사용자입니다.

In [66]:
#126
n = input('우편번호 입력')
c = n[:3]

if n in ['010','011','012']:
  c = "강북구"
elif n in ['014','015','016']:
  c = "도봉구"
else:
  c = "노원구"

print(f"{c}")

우편번호 입력01400
노원구

In [67]:
#127
n = input('주민등록번호 입력')
c = n.split("-")[1]

if c[0] == 1 or 3:
  c = "남자"
else:
  c = "여자"

print(f"{c}")

주민등록번호 입력821010-1635210
남자

In [70]:
#128
n = input('주민등록번호 입력')
c = n.split("-")[1]

if 0<= int(c[1:3]) <= 8:
  print("서울입니다.")
else:
  print("서울이 아닙니다.")

주민등록번호 입력861010-1015210
서울입니다.

In [71]:
#129
??

Object `` not found.

In [ ]:
#130
dic = {opening_price}

??