<a href="https://colab.research.google.com/github/mjkh09077/ai/blob/main/HW220217.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#536
x = {'day':'Sunday', 'week':10} 
for i in x.keys():
  print(i, end=' ')

b

day week

In [2]:
#537
x = {'day':'Sunday', 'week':10} 
for i in x.items():
  print(i, end=' ')

a

('day', 'Sunday') ('week', 10)

In [3]:
#538
x = {'day':'Sunday', 'week':10} 
print(list(x.keys()))

c

['day', 'week']

In [4]:
#539
x = {'day':'Sunday', 'week':10} 
print(tuple(x.items())) 

b

(('day', 'Sunday'), ('week', 10))

In [5]:
#540
x = {'day':'Sunday', 'week':10} 
print(tuple(x.values())) 

b

('Sunday', 10)

In [6]:
#541
x = {'day':'Sunday', 'week':10} 
for i, j in x.items():
  print(i, j, end=' ')

d

day Sunday week 10

In [7]:
#542
x = {'day':'Sunday', 'week':10} 
print('day' in x.values()) 

c

False

In [8]:
#543
x = {'day':'Sunday', 'week':10} 
print('day' in x.keys()) 

b

True

In [10]:
#544
x = {'day':'Sunday', 'week':10} 
print(x.get('day', 'Friday'))

c

Sunday

In [12]:
#545
x = {'day':'Sunday', 'week':10} 
print(x.get('days', 'Friday'))

a

Friday

In [13]:
#546
x = {'day':'Sunday', 'week':10} 
print(x.get('weak', 5))

b

5

In [14]:
#547
x = {'day':'Sunday', 'week':10} 
print(x.get('week', 5)) 

a

10

In [15]:
#548
x = {'day':'Sunday', 'week':10} 
print(x.get('year', 2016)) 

b

2016

In [17]:
#549
x = {'year': 2016, 'month': 'March'} 
if 'day' not in x:
  x['day'] = 'Tuesday' 
  print(x)

d

{'year': 2016, 'month': 'March', 'day': 'Tuesday'}

In [18]:
#550
x = {'year': 2016, 'month': 'March'} 
x.setdefault('day', 'Tuesday') 
print(x)

d

{'year': 2016, 'month': 'March', 'day': 'Tuesday'}

In [19]:
#551
x = {'year': 2016, 'month': 'March'} 
x.setdefault('day', 'Tuesday') 
x.setdefault('day', 'Monday') 
print(x) 

c

{'year': 2016, 'month': 'March', 'day': 'Tuesday'}

In [20]:
#552
x = {}
print(type(x))

d

<class 'dict'>

In [24]:
#553
print(r'Today is a \n nice day')

a

Today is a \n nice day

In [25]:
#554
x = 'python jobs' 
x.upper() 
print(x)

d

python jobs

In [28]:
#555
x = 'Python Jobs'
x.lower() 
print(x)

c

Python Jobs