<a href="https://colab.research.google.com/github/mjkh09077/ai/blob/main/HW220216.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#516
x = [1, 2, 3, 4] 
y = tuple(x)
print(type(y))

c

<class 'tuple'>

In [4]:
#517
x = [1, 2, 3, 4] 
y = tuple(x) 
z = list(y) 
print(type(z))

d

<class 'list'>

In [5]:
#518
x = 'Python' 
y = list(x) 
print(type(y))

d

<class 'list'>

In [6]:
#519
x = 'Python' 
y = tuple(x) 
print(type(y)) 

c

<class 'tuple'>

In [7]:
#520
x = ('Python') 
print(x)

b

Python

In [8]:
#521
x = ('Python',) 
print(x)

a

('Python',)

In [9]:
#522
x = [0, 2, 4, 6] 
print(tuple(x)) 

b

(0, 2, 4, 6)

In [10]:
#523
x = (0, 2, 4, 6) 
print(list(x))

a

[0, 2, 4, 6]

In [11]:
#524
x = 'Python' 
print(list(x))

c

['P', 'y', 't', 'h', 'o', 'n']

In [12]:
#525
x = 'Python' 
print(tuple(x))

a

('P', 'y', 't', 'h', 'o', 'n')

In [13]:
#526
x = [4, 5, 7, 8, 9] 
y = x 
y[1] = 6 
print(y)

c

[4, 6, 7, 8, 9]

In [14]:
#527
x = [4, 5, 7, 8, 9] 
y = x 
y[1] = 6 
print(x)

c

[4, 6, 7, 8, 9]

In [19]:
#528
def abc(z):
  z.append(44)
  x = [7, 8, 9]
  abc(x)
print(x) 

b

[4, 6, 7, 8, 9]

In [20]:
#529
import copy
x = [5, 4, 3, 2, 1] 
y = copy.copy(x) 
x.append(6) 
print(y[-1]) 

d

1

In [21]:
#530
import copy 
x = [5, 4, 3, 2, 1] 
y = copy.copy(x) 
x[2] = 6 
print(y[2])

a

3

In [22]:
#531
import copy 
x = [5, 4, 3, 2, 1] 
y = [7, 8, 9] 
z = [x, y] 
a = copy.copy(z) 
x[2] = 6 
print(a)

b

[[5, 4, 6, 2, 1], [7, 8, 9]]

In [23]:
#532
import copy 
x = [5, 4, 3, 2, 1] 
y = [7, 8, 9] 
z = [x, y] 
a = copy.deepcopy(z) 
x[2] = 6 
print(a)

a

[[5, 4, 3, 2, 1], [7, 8, 9]]

In [25]:
#533
x = {'day':'Sunday', 'week':10} 
print(x['year']) 

b

KeyError: ignored

In [26]:
#534
x = {'day':'Sunday', 'week':10} 
for i in x.values():
  print(i, end=' ')

a

Sunday 10

In [27]:
#535
x = {'day':'Sunday', 'week':10} 
for i in x: 
  print(i, end=' ')

b

day week