<a href="https://colab.research.google.com/github/mjkh09077/ai/blob/main/HW220221.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#556
x = 'Python Jobs' 
if x.lower() == 'python jobs':
  print('Python jobs')
else:
  print('python 3 jobs') 

b

Python jobs

In [5]:
#557
x = 'Python Jobs' 
if x.isupper():
  print('Python jobs')
else:
  print('python 3 jobs') 

a

python 3 jobs

In [6]:
#558
x = 'Python Jobs' 
y = x.upper().lower().upper()
print(y)

b

PYTHON JOBS

In [7]:
#559
x = 'Python Jobs' 
y = x.upper().lower().isupper()
print(y)

c

False

In [8]:
#560
x = ['Python', 'is', 'interesting'] 
y = ' '.join(x) 
print(y)

b

Python is interesting

In [9]:
#561
x = 'Python is interesting' 
y = x.split() 
print(y) 

d

['Python', 'is', 'interesting']

In [10]:
#562
x = '''Today is a nice day. Let's go for a walk. We'll also go to the park.''' 
y = x.split('\n') 
print(y) 

a

["Today is a nice day. Let's go for a walk. We'll also go to the park."]

In [11]:
#563
x = 'Python 2 and Python 3' 
print(x.strip('and'))

d

Python 2 and Python 3

In [12]:
#564
x = 'Python 2 and Python 3' 
print(x.strip('thon 3')) 

b

Python 2 and Py

In [ ]:
#565
d

In [13]:
#566
import re 
x = re.compile(r'\d\d\d-\d\d\d\d') 
y = x.search('The phone number is 444-4444') 
print(y.group())

c

444-4444

In [14]:
#567
import re 
x = re.compile(r'(\d\d\d)-(\d\d\d\d)') 
y = x.search('The phone number is 444-4444') 
print(y.group(2)) 

b

4444

In [15]:
#568
import re 
x = re.compile(r'(\d\d\d)-(\d\d\d\d)') 
y = x.search('The phone number is 444-4444') 
print(y.group(1))

d

444

In [16]:
#569
import re 
x = re.compile(r'(\d\d\d)-(\d\d\d\d)') 
y = x.search('The phone number is 444-4444') 
print(y.group(0))

c

444-4444

In [17]:
#570
import re 
x = re.compile(r'(\d\d\d)-(\d\d\d\d)') 
y = x.search('The phone number is 444-4444') 
print(y.groups()) 

a

('444', '4444')

In [18]:
#571
import re 
x = re.compile(r'(\(\d\d\d\))-(\d\d\d\d)') 
y = x.search('The phone number is (444)-4444') 
print(y.group(1))

d

(444)

In [19]:
#572
import re 
x = re.compile(r'Python 2|Python 3') 
y = x.search('Python 3 MCQ') 
print(y.group())

c

Python 3

In [20]:
#573
import re 
x = re.compile(r'Python 2|Python 3') 
y = x.search('Python 2.7') 
print(y.group()) 

b

Python 2

In [21]:
#574
import re 
x = re.compile(r'day') 
y = x.search('Today is a nice day and a Sunday') 
print(y.group()) 

a

day

In [22]:
#575
import re 
x = re.compile(r'(Sun)?day') 
y = x.search('Today is a nice day and a Sunday') 
print(y.group())

a

day

In [23]:
names = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌".split(",")


print(len('이재영'))

3