<a href="https://colab.research.google.com/github/mjkh09077/ai/blob/main/HW5_220208%EA%B9%80%EB%AF%BC%ED%9D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#231
def n_plus_1 (n) :
 result = n + 1
n_plus_1(3)
print (result)

0

In [16]:
#232
def make_url(str):
  url = "www." + str + ".com"
  return url

make_url("naver")

'www.naver.com'

In [20]:
#233
def make_list(str):
  return list(str)

make_list("abcd")

['a', 'b', 'c', 'd']

In [25]:
#234
def pickup_even(list):
  a = []
  for i in list:
    if i%2 == 0:
      a.append(i)
  return a

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [28]:
#235
def convert_int(str):
  a = str.replace(",","")
  return int(str.replace(",",""))

convert_int("1,234,567")

1234567

In [30]:
#236
def 함수(num) :
 return num + 4
a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [31]:
#237
def 함수(num) :
 return num + 4
c = 함수(함수(함수(10)))
print(c)

22

In [35]:
#238
def 함수1(num) :
 return num + 4
def 함수2(num) :
 return num * 10
a = 함수1(10)
c = 함수2(a)
print(c)

140

In [37]:
#239
def 함수1(num) :
 return num + 4
 
def 함수2(num) :
 num = num + 2
 return 함수1(num)
 
c = 함수2(10)
print(c)

16

In [39]:
#240
def 함수0(num) :
 return num * 2

def 함수1(num) :
 return 함수0(num + 2)

def 함수2(num) :
 num = num + 10
 return 함수1(num)

c = 함수2(2)
print(c)

28

In [40]:
#296
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [41]:
#297
per = ["10.31", "", "8.00"]
list = []

for i in per:
  try:
    a = float(i)
  except:
    a = 0
  list.append(a)

print(list)

[10.31, 0, 8.0]

In [44]:
#298
a = int(input('어떤 값'))

try:
    b = a / 0
except ZeroDivisionError:
    print("error")

어떤 값5
error

In [ ]:
#299
??

In [46]:
#300
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print('')
    finally:
        print('')

10.31


0

8.0