<a href="https://colab.research.google.com/github/mjkh09077/ai/blob/main/HW6_220209%EA%B9%80%EB%AF%BC%ED%9D%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#436#437
x = '' 

if bool(x):
  print('Yes')
else: print('No') 

c

No

In [3]:
#438
x = [] 
if bool(x):
  print('Yes')
else: print('No') 

c

No

In [4]:
#439
x = [1, 2, 3] 
if bool(x):
  print('Yes')
else: print('No') 

b

Yes

In [5]:
#440
x = '' 
if not bool(x):
  print('Yes')
else: print('No') 

b

Yes

In [7]:
#441
x = 'print("Python")' 
eval(x)

c

Python

In [8]:
#442
x = input("Enter an expression: ")
print(eval(x)) 

c

Enter an expression: 45*2
90

In [9]:
#443
x = '''
print("Python 3", end='') 
print(" is Good")''' 
exec(x)

a

Python 3 is Good

In [10]:
#444
a = ['a', 'b', 'c', 'A', 'B'] 
print(max(a)) 

d

c

In [11]:
#445
a = ['a', 'b', 'c', 'A', 'B'] 
print(min(a))

b

A

In [12]:
#446
a = ['a', 'b', 'c', '1', '2', 'A', 'B'] 
print(max(a))

d

c

In [14]:
#447
a = ['a', 'b', 'c', '1', '2', 'A', 'B'] 
print(min(a))

c

1

In [15]:
#448
a = [1, 2, 3] 
print(sum(a)) 

d

6

In [16]:
#449
a = list(range(0,10,3)) 
print(sum(a)) 

c

18

In [17]:
#450
a = list(range(10,-10,3)) 
print(sum(a))

b

0

In [18]:
#451
a = list(range(-10,5,2)) 
print(sum(a))

a

-24

In [19]:
#452
x = [5, 4, 3, 2, 1] 
y = x.copy() 
x[0] = 6 

print(y) 

c

[5, 4, 3, 2, 1]

In [22]:
#453
import copy 
x = [5, 4, 3, 2, 1] 
y = copy.copy(x) 
x.append(6) 

print(y[0]) 

d

5

In [24]:
#454
import keyword 
print(keyword.iskeyword('IS')) 

d

False

In [26]:
#455
import keyword 
print(keyword.iskeyword('for')) 

a

True

In [31]:
#algorithm
count = []
for x in (range(1,10001)):         #1이상 10001미만 범위에 있는 x
  for i in str(x):                 
    count.append(int(i))           #x에 i가 있을 경우 count리스트에 추가

print(count.count(8))              #8이 포함된 count리스트에서 8갯수 계산

4000